body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('svgs/background.svg') #edeff0;

}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  margin-left: .3em;
  vertical-align: top;

}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}



header nav ul li:hover a {
  color: #111;
}

header nav ul li:hover path {
  fill: #111;
}

.nav li,
.nav li path {
  transition: .3s ease-in;
}

.nav li:hover {
  transform: scale(1.1);
}

.nav li:hover path {
  transform-origin: 28px 24px;
  transform: translate(1px);
}

@keyframes logo-grow {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(.9) rotate(-5deg);
  }

  60% {
    transform: scale(1.2) rotate(5deg);
  }

  100% {
    transform: scale(1) rotate(-360deg);
  }
}

@keyframes logo-colors {
  0% {

  }

  30% {
    fill: #DD5E98;
  }

  60% {
    fill: #55D6BE;
  }

  100% {
    fill: #BB4430;
  }
}

.logo-svg {
  width: 140px;
  height: 120px;
  /*max-width: 25%;*/
  height: auto;
}

.logo-svg:hover {
  animation: logo-grow 2s .2s ease-in backwards;
}

.logo-svg:hover .st2 {
  animation: logo-colors 2s .2s ease-in backwards;
}

.logo-title{
  color: #EAAA7F;
  font-size: 22px;
  margin-top: auto;
  margin-bottom: 25px;

}

.st1 {
  display: none;
}

.corgi-main-svg {
  display: none;
}

.corgi-svgs div {
  display: block;
  margin: 0 auto;
}

.sable {
  color: #704C5E;
}

.fawn {
  color: #96ADC8;
}

.red {
  color: #834b29;
}

.stone {
  color: #EF6F6C;
}

.corgi-tx {
  text-align: center;
  margin-top: auto;
  color: #BA8058;
  font-size: 17px;
}


main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

@media (min-width: 425px) {
  .st1 {
    display: inherit;
  }

  .logo-title {
    display: none;
  }
}

@media (min-width: 850px) {
  .corgi-svgs {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    max-width: 80%;
  }

  .corgi-svgs div {
    max-width: 20%;
  }

  .corgi-tx {
    text-align: right;
  }

}
